<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Hi, I'm a software developer and 4th year Engineering Physics student at UBC. My major is best described as computer engineering combined with honours physics.</p>
            </div>
            <div class="col-lg-4">
                <p>Fluent in C++, C# and Java, check out the my projects in the portfolio below or by following my blog. When
                I'm not working on my latest coding project you can find me playing badminton or piano.</p>
            </div>
        </div>
    </div>
</section>