<!-- Blog Preview Section -->
<section id="blog">
	<div class="container">
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2><a href="{{site.baseurl}}/blog">Blog</a></h2>
                <hr class="star-primary">
                {% assign post = site.posts.first %}
 				{% assign content = post.content %}
 				<p>Check out a preview of my blog below. Click the header above to see all the posts!</p> <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                {{post.preview}}
            </div>
        </div>
	</div>
</section>