<section>
    <a class="anchor" id="blog"></a>
	<div class="container">
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2><a href="{{site.baseurl}}/blog">Blog</a></h2>
                <hr class="star-primary">
                {% assign post = site.posts.first %}
 				{% assign content = post.content %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                {{post.preview}}
                <br>
                <a class="btn btn-success btn-sml" href="{{site.baseurl}}/blog">See More Posts</a>
            </div>
        </div>
	</div>
</section>